---
import Button from "../atoms/Button.astro";
import Subtitle from "../atoms/Subtitle.astro";
import Text from "../atoms/text.astro";

const cards = [
        {
            "title":"Basic",
            "price":"Gratis",
            "background":"white",
            "titleColor":"accent",
            "benefits": [
                "Almacenaje para 5 proyectos", "Exportación solo en JPEG", "Define hasta 4 áreas por proyecto","Solo 2 exportaciones por proyecto"
            ],
            "button":"¡Registrate ahora!"
        }
        ,
        {
            "title":"Premium",
            "price":"$10 usd",
            "background":"accent",
            "titleColor":"white",
            "benefits": [
                "Almacenaje para proyectos ilimitado","Exportaciones en PDF y JPG","Exportaciones por proyecto ilimitadas","Agregar más áreas de trabajo por proyecto"
            ],
            "button":"Contrata Ahora"
        }
]
---
{cards.map((card, index) => (
    <div class="shadow-2xl rounded-3xl w-full max-w-[25.25rem]">
        <div class=`bg-${card.background} py-1 px-4 rounded-t-3xl`>
            <Subtitle 
                subtitle={card.title}
                Color={card.titleColor}
            />
            <Text 
            text={card.price}
            Color={card.titleColor}
            />
        </div>
        <div class="py-5">
            <ul class="px-4 flex flex-col justify-center align-center">
                {card.benefits.map((benefit) => (
                    <li class="relative pl-6 py-1 md:py-3 xl:py-4 before:content-[''] before:absolute before:left-0 before:top-1/2 before:-translate-y-1/2 before:w-4 before:h-4 before:bg-center before:bg-contain before:bg-no-repeat before:bg-[url('check.svg')]">
                        <Text 
                            text={benefit}
                            Color=baseColor
                            adicionalClass="font-bold"
                        />
                    </li>
                ))}
            </ul>
        </div>
        <div class="flex justify-center align-center py-10 ">
            <Button 
            link="##"
            text={card.button}
            />
        </div>
    </div>
    
))}


